#about {
    background-color: #c8cdd2;
    padding: 5px;
}

#about, #calendar, #external {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

.author {
    text-decoration: underline;
}