.container {
    display: grid;
    margin: auto;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 100px repeat(6, 1fr) 100px;
    gap: 15px;
    grid-template-areas: "hd" "main1" "main2" "main3" "main4" "main5" "main6" "ft";
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    border-style: outset;
    padding: 15px;
}

@media (min-width: 600px) {
    .container {
        display: grid;
        margin: auto;
        height: 100vh;
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px repeat(3, 1fr) 100px;
        gap: 15px;
        grid-template-areas: "hd hd" "main1 main2" "main3 main4" "main5 main6" "ft ft";
        justify-content: center;
    }
}